.card-image {
  position: absolute;
  top: -20%;
  left: 0;
  transform: translateX(-20%);
  /* left: -50%; */
}
.about {
  border-bottom: 10px solid #ff7ea2;
}

@media (min-width: 1200px) {
  .card-image {
    top: -60%;

    /* left: -50%; */
  }
}
