/* body {
  color: white;
  background-image: url(./assets/images/Group\ 1000001999.png);
  background-size: cover;
  animation: backgroundScroll 30s linear infinite;
  animation-fill-mode: forwards;
  cursor: url(./assets/images/potato.png), auto;
} */

/* @-webkit-keyframes backgroundScroll {
  0% {
    background-position: -1780px -690px;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes backgroundScroll {
  0% {
    background-position: -1780px -690px;
  }

  100% {
    background-position: 0 0;
  }
} */

/* .col:last-child {
  margin-right: 0;
} */

.hero {
  background-image: url(/src/assets/images/heroback.png);

  background-repeat: no-repeat;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

.click-to-top {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 100px;
  right: 20px;
  visibility: hidden;
  z-index: 199999;
  background-color: #ff7ea2;
}
.click-to-top.show {
  /* display: block; */
  visibility: visible;
}
